<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    {% if student %}
    <table border = '1px'>
    
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for data in student %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.age}}</td>
                <td>{{data.email}}</td>
                <td>{{data.city}}</td>
            </tr>
            
            
            {% endfor %}
        </tbody>
    
    </table>
    {% else %}
    <h1>invalid details</h1>
    {% endif %}
</body>
</html>